{% extends 'bookshelf/base.html' %}

{% block title %}Permission Denied{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title text-danger">403</h1>
                <h3 class="card-title">Permission Denied</h3>
                <p class="card-text">
                    You don't have permission to access this resource.
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Your current user groups:
                        {% if user.groups.all %}
                            {{ user.groups.all|join:", " }}
                        {% else %}
                            None
                        {% endif %}
                    </small>
                </p>
                <a href="{% url 'book_list' %}" class="btn btn-primary">
                    Back to Book List
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}